html {
  scroll-behavior: smooth;
}
.fundo {
  background-color: #ffe1d5;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  color: #3a3a3a;
}
h1 {
  font-weight: 800;
  padding: 60px 0;
}
h2 {
  padding: 30px 0 30px 0;
}

header {
  background: #fff0f1;
  display: flex;
  justify-content: space-around;
}
.home__texto {
  padding: 60px 0;
}
.logo-nav {
  width: 100px;
  height: auto;
}
.titulo-card {
  font-size: 26px;
  font-weight: 800;
  padding-top: 20px;
}
.sectioncards {
  max-width: 100%;
  display: flex;
}
.navbar__logo {
  display: block;
  width: 200px;
}
.input__search {
  width: 40%;
  height: 40px;
  border-radius: 10px;
  padding: 5px;
  font-size: 18px;
}
.button__search {
  border: none;
  width: 90px;
  background-color: #ed4c5f;
  height: 40px;
  border-radius: 10px;
  padding: 5px;
  font-size: 18px;
  color: #ffffff;
  /* color: #b1b1b1; */
  /* color: #3a3a3a; */
}
.group__input {
  width: 100%;
  float: center;
  right: 10px;
}
.cartao {
  width: 250px;
  height: 600px;
  margin: 10px;
  text-align: justify;
  background-color: transparent;
}
.imagem {
  width: 250px;
  height: 250px;
}
.descricao {
  font-size: 15px;
}
.descricao-links {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}
.cardslu {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
a:link {
  text-decoration: none;
  color: #ed4c5f;
  font-weight: bold;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}
.navezinha {
  /* z-index: 99;
  position: fixed;
  background: #ed4c5f;
  widows: 100%; */
  overflow: hidden;
  background-color: #ffe1d5;
  position: fixed;
  top: 0;
  width: 100%;
}
.formulario__titulo {
  padding: 60px 0;
}
#idformulario {
  padding-bottom: 100px;
}
@media (min-width: 992px) {
  .navbar {
    padding: 0 10%;
  }
}

.footerzinho a {
  font-size: 40px;
}

.footerzinho p {
  text-align: center;
  padding: 0;
  margin: 0;
}

.footerzinho {
  padding-bottom: 60px;
}

input,
label {
  display: block;
}

input[type="file"]::-webkit-file-upload-button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.275rem 0.65rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  margin-top: 0.15rem !important;
  margin-bottom: 0.15rem !important;
  cursor: pointer;
  overflow: visible;
  font-family: inherit;
}

.hidden{
  display: none;
}
